[data-theme="light"] {
  --bg-color: var(--gray-0);
  --text-color: var(--gray-900);

  --surface: var(--gray-40);
  --border: var(--gray-180);
}

[data-theme="dark"] {
  --bg-color: var(--gray-970);
  --text-color: var(--gray-70);

  --surface: var(--gray-900);
  --border: var(--gray-720);

  --color-default: var(--gray-40);
  --color-muted: var(--gray-380);
  --color-faint: var(--gray-620);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--gray-1000);
    --text-color: var(--gray-70);

    --surface: var(--gray-970);
    --border: var(--gray-720);
  }
}
