@font-face {
  font-family: "Suisse Intl";
  src: url("./assets/fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Light";
  src: url("./assets/fonts/SuisseIntl-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Medium";
  src: url("./assets/fonts/SuisseIntl-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Suisse Intl Semi Bold";
  src: url("./assets/fonts/SuisseIntl-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Bold";
  src: url("./assets/fonts/SuisseIntl-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl Cond";
  src: url("./assets/fonts/SuisseIntlCond-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("./assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
