@use "tokens" as *;

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$wide: 1200px;
$ultra_wide: 1400px;

.row {
  width: 100%;
}

.features_grid {
  display: grid;
  width: 100%;
  gap: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

// @media (max-width: $desktop) {
//   .features_grid {
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//   }
// }
