
.transition {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.6, 1);

  &.visible {
    opacity: 1;
  }
}

.overflow_hidden {
  overflow: hidden;
}

.invisible { visibility: hidden; }

.rounded_sm { border-radius: 0.5rem; }
.rounded_md { border-radius: 1rem; }
.rounded_lg { border-radius: 2rem; }
