[tabindex="-1"]:focus:not(:focus-visible) { outline: 0 !important; }
table  { border-collapse: collapse; }
th     { text-align: inherit; text-align: -webkit-match-parent; }

.table {
  width: 100%;
  border-top: 1px solid var(--border-default);
}

.table__row {
  display: grid;
  grid-template-columns: 2fr 3fr auto 4.5rem 1.5rem;
  align-items: center;
  border-bottom: 1px solid var(--border-default);
  text-decoration: none;
  transition: background 0.15s ease-in, padding 0.15s ease-in;

  &:hover:not(.table__row--disabled) {
    background: var(--bg-base-2);
    padding-inline: 0.75rem;
    border-radius: var(--radius-200);

    .table__arrow { color: var(--text-positive); }
  }

  &--disabled {
    cursor: default;

    .table__index,
    .table__name,
    .table__role,
    .table__desc,
    .table__uri,
    .table__status-label { color: var(--text-disabled); }

    .table__dot   { background: var(--text-disabled); }
    .table__arrow { visibility: hidden; }
  }
}

.table__id-name  { display: flex; align-items: center; }
.table__identity { display: flex; flex-direction: column; }
.table__index    {}
.table__name     {}
.table__role     {}
.table__desc     {}
.table__uri      {}

.table__status {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.table__dot {
  width: 12px;
  height: 12px;
  border-radius: var(--radius-full);
  background: var(--bg-positive);
  flex-shrink: 0;
}

.table__status-label {}
.table__arrow        { text-align: right; transition: color 0.15s ease-in; }
