html {
  font-size: 16px;
  // user-select: none;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family:
    "Suisse Intl",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Liberation Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  transition: var(--transition);
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
ol,
ul,
dl {
  margin: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--prime600);
}

.underline:hover {
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* SYZE */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

.hero {
  font-size: var(--hero);
}
.h1 {
  font-size: var(--h1);
}
.h2 {
  font-size: var(--h2);
}
.h3 {
  font-size: var(--h3);
}
.h4 {
  font-size: var(--h4);
}
.h5 {
  font-size: var(--h5);
}
.h6 {
  font-size: var(--h6);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0.6em 0;
}

.p {
  font-size: var(--p);
  margin: 0.4em 0;
}

.small {
  font-size: var(--small);
}

.smaller {
  font-size: var(--smaller);
}

.smallest {
  font-size: var(--smallest);
}

.nano {
  font-size: var(--nano);
}

/* LINE HEIGHT */

.lh_1 {
  min-height: 2em;
}
.lh_2 {
  min-height: 3em;
}
.lh_3 {
  min-height: 4em;
}
.lh_4 {
  min-height: 5em;
}
.lh_5 {
  min-height: 6em;
}
.lh_6 {
  min-height: 7em;
}

/* MISC */
.selected {
  user-select: text;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/* FAMILIES */
.light {
  font-family: "Suisse Intl Light";
}

.regular {
  font-family: "Suisse Intl";
}

.medium {
  font-family: "Suisse Intl Medium";
}

.semibold {
  font-family: "Suisse Intl Semi Bold";
}

.bold {
  font-family: "Suisse Intl Bold";
}

/* MONOSPACE */
.monospace {
  font-family: "JetBrains Mono Regular", monospace;
}

/* CONDENSED */
.condensed {
  font-family: "Suisse Intl Cond";
}
